.container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* width: 80%; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
  box-sizing: border-box;
  padding: 16px 15vw;
  border: 1px solid grey;
}

.keypair {}

.row {
  display: flex;
  margin: 8px 0;
}

.label {
  white-space: nowrap;
  padding-right: 10px;
}

.save {
  width: 150px;
  margin-left: 32px;
}

.key {
  display: flex;
}